<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="city">Enter the City Name</label>
      <input type="text" name="city" id="city">
      <label for="days">How many days did you stay?</label>
      <input type="number" name="days">

      <label for="imagePath">Upload image!</label>
      <input type="file" name="imagePath" id="imagePath">

      <button type="submit" class="btn">Submit!</button>
    </form>

  </body>
</html>
